.navbar{
  color:darkgoldenrod;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
  background-image: url("img/magic.jpg");
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
div{
  text-align: center;
  color: rgb(87, 0, 0);
}  
p{
  text-align: center;
  padding: 20px;
  background: rgba(0, 1, 12, 0.9);
  color: rgb(3, 94, 110);
  font: 18px Arial, sans-serif;
}
h2{
  text-align: center;
  background: rgba(0, 1, 12, 0.9);
  color: rgb(87, 0, 0);
}
.h1{
font-size:30px;
}
.breya{
display: block;
}
img {
opacity: 0.5;
}
img:hover {
opacity: 1.0;
}
a {
  color: rgb(3, 94, 110);
}
h3 {
  text-shadow: 2px 2px 5px black;
}
ul {
  color: rgb(0, 176, 207);
}
.form-control {
  border-radius: 0;
}
.btn-outline-danger {
  background-color: rgb(0, 176, 207);
  color: black;
  border-radius: 0;
}
.bi-controller {
  color: rgb(0, 176, 207);
}
.bg-danger {
  border-radius: 0;
}
.progress {
  border-radius: 0;
}
.spinner-grow-sm {
  color: black
}